*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.sale-card {
  width: 250px;
  text-align: center;

  margin: 10px;
}

mat-toolbar {
  margin-bottom: 20px;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.2em;
}

mat-card-content p {
  margin: 5px 0;
}

ul {
  padding-left: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.sale-card:hover {
    transform: scale(1.05);
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }